Most-affordable/n8n.json
{
  "name": "Intelligent Bike Dealership Automation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1200,
        500
      ],
      "id": "4b8c38bc-622d-4f97-9903-bbf256bc069e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "M8x78S7HaYYge2Lz",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bikes",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.extracted_id }}"
            }
          ]
        }
      },
      "id": "05227684-8f06-4ff0-8e67-898799fb3540",
      "name": "Supabase Fetch",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vNTP1XgP3wsW0tiM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.chatInput || '';\nconst match = text.match(/BK-\\d+/i);\nreturn {\n  original_message: text,\n  extracted_id: match ? match[0].toUpperCase() : 'NONE'\n};"
      },
      "id": "d6bbd6e8-e930-416a-8259-1ed3939aed91",
      "name": "Extract Request Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "db143405-60aa-472e-b62e-8375f2314847",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        400,
        400
      ],
      "webhookId": "ddf8efbd-5544-4164-ae2b-a9f4d5ccac13"
    },
    {
      "parameters": {
        "prompt": "=System:\nYou are a classic and standard AI assistant for a premium bike dealership. \nYour job is to answer customer questions about bike availability. Use a maximum of ONE emoji in your entire response. \n\nIf the Database Result contains an available bike:\nList its details EXACTLY in this format:\n\nBrand : [Make]\nModel : [Model]\nPrice : ₹[Price]\nColor : [Color]\nYear : [Year]\nKM : [KM]\n\nThen, politely provide the direct website link to view photos using this exact format: https://most-affordable.vercel.app/bike/[THE_BIKE_ID].\n\nIf the Database Result is empty or the bike is SOLD:\nApologize politely, explain it is not available, and invite them to browse other vehicles on https://most-affordable.vercel.app/.\n\n======\n\nUser Message: {{ $('Extract Request Data').item.json.original_message }}\n\nDatabase Search Result: {{ JSON.stringify($json) }}"
      },
      "id": "590be0a9-e618-4a2f-9c33-aee2569874db",
      "name": "Generate AI Response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return { output: $input.item.json.text || 'Processing Error: AI did not return text.' };"
      },
      "id": "format-for-chat-ui-node",
      "name": "Format For Chat UI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e457f0ce-1ee7-4de0-84cf-bb3d50f836da",
              "leftValue": "={{ $json.extracted_id }}",
              "rightValue": "NONE",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "name": "filter.operator.notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-id-exists",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 3,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "requests",
        "columns": "message",
        "message": "={{ $('Extract Request Data').item.json.original_message }}"
      },
      "id": "insert-general-request",
      "name": "Supabase Insert Request",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "vNTP1XgP3wsW0tiM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { output: 'Your request has been noted and our dealership team will reach out to you shortly! Browse our website at https://most-affordable.vercel.app/' };"
      },
      "id": "format-for-chat-ui-general",
      "name": "Format General Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        500
      ]
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate AI Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Extract Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase Fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Insert Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Fetch": {
      "main": [
        [
          {
            "node": "Generate AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Response": {
      "main": [
        [
          {
            "node": "Format For Chat UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert Request": {
      "main": [
        [
          {
            "node": "Format General Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "812e57160b6cfa0488283afdc6a904b27f91c8dd7755e053008327f19ff2ef3d"
  }
}