Most-affordable/n8n.json
{
  "nodes": [
    {
      "parameters": {
        "sessionKey": "={{ $sessionId }}"
      },
      "id": "6c7d8400-334c-45f5-b25d-7bd7317e2982",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        -16,
        336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiInput }}",
        "options": {
          "systemMessage": "System:\nYou are a classic and standard AI assistant for a premium bike dealership. You maintain conversation with the user to help them find a bike.\nYour goal is to either find a specific bike by ID (e.g. BK-1) OR save a general request (e.g. 'Himalayan 450') if they don't have an ID.\n\nCRITICAL PROCESS FOR SAVING REQUESTS:\n1. If a user asks for a general bike (e.g. 'Is a Himalayan available?'), you MUST first ask them for their phone number to reach them at.\n2. Once they provide their phone number, you MUST ask for final confirmation (e.g. 'You need a Himalayan 450 and your number is 9876543210, is this correct?').\n3. ONLY save the request when they explicitly say yes/confirm.\n\nYou MUST ALWAYS and ONLY respond with a valid JSON object in this exact format. No markdown, no backticks, no other text:\n{\n  \"reply_to_user\": \"Your conversational reply here\",\n  \"action\": \"none\" | \"search_db\" | \"save_request\",\n  \"action_param\": \"bike_id or formatted_request_string\"\n}\n\nRules:\n- If user provides a bike ID (e.g. BK-123), set action to 'search_db', action_param to 'BK-123', reply_to_user to 'Searching'.\n- If user confirms a general request with their number, set action to 'save_request', action_param to EXACTLY '[Bike Name] - Ph: [Phone Number]', reply_to_user to 'Your request for a [Bike] has been saved and our dealership team will reach out to you shortly!'\n- Otherwise, set action to 'none', action_param to '', and set reply_to_user to your conversational response (e.g. asking for the phone number, confirming the details). Use max ONE emoji total."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -112,
        192
      ],
      "id": "4acfb766-cc50-4578-a1df-ec90b44927a7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "try {\n  let str = $input.item.json.output || $input.item.json.text || $input.item.json.response || '';\n  str = str.replace(/```json/ig, '').replace(/```/g, '').trim();\n  const parsed = JSON.parse(str);\n  return [parsed];\n} catch(e) {\n  return [{ reply_to_user: \"I'm sorry, I misunderstood. Could you rephrase that?\", action: \"none\", action_param: \"\" }];\n}"
      },
      "id": "70d47faa-df14-410e-9ccf-6abc3c4a2c75",
      "name": "Parse JSON Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "search_db",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        192
      ],
      "id": "91f2ef0e-c727-4c40-b001-1757bc1dfcb1",
      "name": "If Search DB1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "save_request",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        368
      ],
      "id": "b58b00ca-463c-440f-87a0-f7c471ba2dbd",
      "name": "If Save Request1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bikes",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Parse JSON Output1').item.json.action_param }}"
            }
          ]
        }
      },
      "id": "6bdd9410-9e73-45ce-9172-2cc34bfb39bb",
      "name": "Supabase Fetch1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "qyF8f4qEW2UoP8fY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=System:\nYou are a classic AI assistant for a premium bike dealership. Use max ONE emoji.\nIf Database Result contains an available bike:\nList its details EXACTLY in this format:\nBrand : [Make]\nModel : [Model]\nPrice : ₹[Price]\nColor : [Color]\nYear : [Year]\nKM : [KM]\nThen, politely provide the direct website link to view photos: https://most-affordable.vercel.app/bike/[THE_BIKE_ID].\nEnd your message with: 'Checkout our website for more details and to request vehicles: https://most-affordable.vercel.app/'\n\nIf Database Result is empty or the bike is SOLD:\nApologize politely, explain it is not available, and invite them to browse vehicles on https://most-affordable.vercel.app/.\n======\nDatabase Search Result: {{ JSON.stringify($json) }}"
      },
      "id": "e214ded4-2cec-43b9-bfcc-bbde16d17448",
      "name": "Format DB Result1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        896,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "return { output: $input.item.json.text || $input.item.json.output || 'Processing Error: AI did not return text.' };"
      },
      "id": "354e2e38-b18b-4e1e-81b0-7633d9dad03a",
      "name": "Format DB Output UI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -16
      ]
    },
    {
      "parameters": {
        "tableId": "requests",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.action_param }}"
            },
            {
              "fieldId": "instagram_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].sender.id }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].sender.id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "insta"
            },
            {
              "fieldId": "seen",
              "fieldValue": "=false"
            },
            {
              "fieldId": "bike_name",
              "fieldValue": "={{ $json.action_param.split(' - Ph:')[0].trim() }}"
            },
            {
              "fieldId": "contact",
              "fieldValue": "={{ ($json.action_param.split('Ph:')[1] || '').trim() }}"
            }
          ]
        }
      },
      "id": "b4b9cd85-1152-4319-a059-1d6d5f524129",
      "name": "Supabase Insert Request1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        272
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qyF8f4qEW2UoP8fY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reply = $('Parse JSON Output1').item.json.reply_to_user || 'Your request has been saved!';\nreturn { output: reply + '\\n\\n✅ Checkout our website for more details and to request vehicles:\\nhttps://most-affordable.vercel.app/' };"
      },
      "id": "c486e042-6ea3-4845-8748-037288e8ab6c",
      "name": "Format Save Output UI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "return { output: $('Parse JSON Output1').item.json.reply_to_user || 'Something went wrong.' };"
      },
      "id": "d4e09d77-0a12-4c08-9080-3a558a40ac29",
      "name": "Format Normal Output UI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAANa0RPdJZCZABZAFoxdUIzSjUzSnZAFYk54UTQ0LVRNSGtubHZAEajJFejR3ZAUNDTmQ2ZA2tfazJwZAjg3U0ZALM2huUEZABb0NOejJJT1pKcTF3TmVuVHpXLVJ5VWFzNTl3UkZAUTjlxQmdNZADdQTHhsOEtpN1ZAzZA2RaRFBlc05HUXBDTQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"recipient\": {\n    \"id\": $('When Executed by Another Workflow').item.json.body.entry[0].messaging[0].sender.id\n  },\n  \"message\": {\n    \"text\": $json.output\n  }\n}\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        176
      ],
      "id": "bd02b1e3-85f2-44da-b222-e9218fadc646",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"type\": \"DM\",\n  \"aiInput\": \"{{$json.body.entry[0].messaging[0].message.text}}\",\n  \"senderId\": \"{{$json.body.entry[0].messaging[0].sender.id}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        96
      ],
      "id": "e52c4436-95f8-4aa0-804a-3bd6d1d6f48b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{\n  $json.body.entry?.[0]?.changes?.[0]?.field === \"comments\"\n    ? 0\n    : (\n        $json.body.entry?.[0]?.messaging?.[0]?.message?.text &&\n        !$json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo\n      )\n      ? 1\n      : 2\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1168,
        80
      ],
      "id": "3248f1d7-f43e-4f15-b03a-0b56d82bb59b",
      "name": "Switch"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1344,
        96
      ],
      "id": "68863e20-73e7-4d28-a84f-fa75a5660d25",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE",
          "mode": "list",
          "cachedResultName": "veetile_vandi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sender_id",
              "lookupValue": "={{ $json.senderId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f45eec04-c9a5-4f1f-8b57-518ddc06b7d5",
      "name": "Sheets - Read User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -736,
        96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let sheetRow = {};\ntry { sheetRow = $input.item.json || {}; } catch(e) {}\n\nconst senderId = $('Edit Fields').item.json.senderId;\nconst rawMsg = $('Edit Fields').item.json.aiInput;\nconst isDone = sheetRow.status === 'done';\n\nlet aiInput = rawMsg;\nif (sheetRow.sender_id && !isDone) {\n  let ctx = '';\n  if (sheetRow.bike_searched) ctx += `User previously searched for bike: ${sheetRow.bike_searched}. `;\n  if (sheetRow.bike_requested) ctx += `User previously requested bike: ${sheetRow.bike_requested}. `;\n  if (ctx) aiInput = `[Context: ${ctx}]\\nUser message: ${rawMsg}`;\n}\n\nreturn [{ senderId, aiInput, isDone: isDone.toString(), sheetRow }];"
      },
      "id": "30f2ca03-1d22-432e-a39b-37f61cd307fe",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "done-001",
              "leftValue": "={{ $json.isDone }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6153753d-2df0-45ef-9f69-912b2e8101a5",
      "name": "Is Bot Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "return { output: '✅ Your request was already handled!\\n\\nCheckout our website for more details and to browse all bikes or request a vehicle:\\nhttps://most-affordable.vercel.app/' };"
      },
      "id": "8e32a13e-79d3-4ac2-aa6c-5602353f9791",
      "name": "Send Website Msg (Done)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE",
          "mode": "list",
          "cachedResultName": "veetile_vandi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender_id": "={{ $('Edit Fields').item.json.senderId }}",
            "status": "done",
            "bike_searched": "={{ $('Parse JSON Output1').item.json.action_param }}",
            "source": "insta",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "sender_id"
          ],
          "schema": [
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bike_searched",
              "displayName": "bike_searched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bike_requested",
              "displayName": "bike_requested",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact",
              "displayName": "contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "769d6c3e-d48b-42e4-a68f-d4e9e8ab5411",
      "name": "Sheets - Write Bike Found",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1424,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE",
          "mode": "list",
          "cachedResultName": "veetile_vandi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bmf5asDIDIO19FpegR2W0FLYW_ETh0yhZVHSLpbkpyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender_id": "={{ $('Edit Fields').item.json.senderId }}",
            "status": "done",
            "bike_requested": "={{ $('Parse JSON Output1').item.json.action_param.split(' - Ph:')[0].trim() }}",
            "contact": "={{ ($('Parse JSON Output1').item.json.action_param.split('Ph:')[1] || '').trim() }}",
            "source": "insta",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "sender_id"
          ],
          "schema": [
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bike_searched",
              "displayName": "bike_searched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "bike_requested",
              "displayName": "bike_requested",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact",
              "displayName": "contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "d031e0b2-1684-432e-9f5f-a7a6a3e5d88f",
      "name": "Sheets - Write Req Saved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1408,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BszyxYIl7V01jXJS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inform-requester",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cee7c90e-bac8-4aad-9e1e-352db2831dda",
      "name": "Webhook - Inform Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1344,
        272
      ],
      "webhookId": "inform-requester"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $json.body.instagram_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAANa0RPdJZCZABZAFoxdUIzSjUzSnZAFYk54UTQ0LVRNSGtubHZAEajJFejR3ZAUNDTmQ2ZA2tfazJwZAjg3U0ZALM2huUEZABb0NOejJJT1pKcTF3TmVuVHpXLVJ5VWFzNTl3UkZAUTjlxQmdNZADdQTHhsOEtpN1ZAzZA2RaRFBlc05HUXBDTQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"recipient\": {\n    \"id\": $json.body.instagram_id\n  },\n  \"message\": {\n    \"text\": $json.body.message\n  }\n}\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "b0d830b2-efaf-4a2d-a8a5-807b7743775f",
      "name": "Send Instagram DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1104,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"instagram_id\": $('Webhook - Inform Trigger').item.json.body.instagram_id }",
        "options": {}
      },
      "id": "64ffce16-8446-481a-904b-647077c2f53c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -864,
        272
      ]
    },
    {
      "parameters": {
        "model": "ministral-3b-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -112,
        336
      ],
      "id": "c3c6de6d-e9ca-4e1c-847a-09592feca8eb",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "0rcK32wlWzHDbCUK",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-3b-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        896,
        144
      ],
      "id": "e2e6f579-dd10-4169-995d-031451f7ed33",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "0rcK32wlWzHDbCUK",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "connections": {
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse JSON Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output1": {
      "main": [
        [
          {
            "node": "If Search DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Search DB1": {
      "main": [
        [
          {
            "node": "Supabase Fetch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Save Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Save Request1": {
      "main": [
        [
          {
            "node": "Supabase Insert Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Normal Output UI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Fetch1": {
      "main": [
        [
          {
            "node": "Format DB Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Result1": {
      "main": [
        [
          {
            "node": "Format DB Output UI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Output UI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets - Write Bike Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert Request1": {
      "main": [
        [
          {
            "node": "Format Save Output UI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Save Output UI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets - Write Req Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Normal Output UI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sheets - Read User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Read User": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "Is Bot Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bot Done?": {
      "main": [
        [
          {
            "node": "Send Website Msg (Done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Website Msg (Done)": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Inform Trigger": {
      "main": [
        [
          {
            "node": "Send Instagram DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Instagram DM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Format DB Result1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abaad11c3e60e557df9fc051eed7931e09f7e0c88f9b24837b3a628ce3820fe2"
  }
}