Most-affordable/n8n.json
{
  "name": "Conversational Bike Dealership Automation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [ 200, 400 ],
      "webhookId": "ddf8efbd-5544-4164-ae2b-a9f4d5ccac13"
    },
    {
      "parameters": {
        "sessionKey": "={{ $sessionId }}"
      },
      "id": "memory-node",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [ 400, 600 ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "model-1",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 400, 200 ],
      "credentials": {
        "googlePalmApi": {
          "id": "M8x78S7HaYYge2Lz",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=System:\nYou are a classic and standard AI assistant for a premium bike dealership. You maintain conversation with the user to help them find a bike.\nYour goal is to either find a specific bike by ID (e.g. BK-1) OR save a general request (e.g. 'Himalayan 450') if they don't have an ID.\nTo save a general request, you MUST first confirm the specific bike name they want (e.g. 'You need Himalayan 450, is this correct?'). ONLY save the request when they say yes/confirm.\n\nYou MUST ALWAYS and ONLY respond with a valid JSON object in this exact format. No markdown, no backticks, no other text:\n{\n  \"reply_to_user\": \"Your conversational reply here\",\n  \"action\": \"none\" | \"search_db\" | \"save_request\",\n  \"action_param\": \"bike_id or bike_name or empty\"\n}\n\nRules:\n- If user provides a bike ID (e.g. BK-123), set action to 'search_db', action_param to 'BK-123', reply_to_user to 'Searching'.\n- If user confirms a general request (e.g. says yes after you ask), set action to 'save_request', action_param to the confirmed bike name, reply_to_user to 'Your request for a [Bike] has been saved and our dealership team will reach out to you shortly!'\n- Otherwise, set action to 'none', action_param to '', and set reply_to_user to your conversational response (e.g. asking for the bike name, confirming the bike name). Use max ONE emoji total."
      },
      "id": "llm-1",
      "name": "Conversational Logic LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [ 400, 400 ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  let str = $input.item.json.text || '';\n  str = str.replace(/```json/ig, '').replace(/```/g, '').trim();\n  const parsed = JSON.parse(str);\n  return [parsed];\n} catch(e) {\n  return [{ reply_to_user: \"I'm sorry, I misunderstood. Could you rephrase that?\", action: \"none\", action_param: \"\" }];\n}"
      },
      "id": "parse-json",
      "name": "Parse JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 600, 400 ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "search_db",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ 800, 400 ],
      "id": "if-search",
      "name": "If Search DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "save_request",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [ 1000, 500 ],
      "id": "if-save",
      "name": "If Save Request"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bikes",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Parse JSON Output').item.json.action_param }}"
            }
          ]
        }
      },
      "id": "supabase-fetch",
      "name": "Supabase Fetch",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 1000, 200 ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "vNTP1XgP3wsW0tiM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "model-2",
      "name": "Google Gemini (Format DB)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 1200, 0 ],
      "credentials": {
        "googlePalmApi": {
          "id": "M8x78S7HaYYge2Lz",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=System:\nYou are a classic AI assistant for a premium bike dealership. Use max ONE emoji.\nIf Database Result contains an available bike:\nList its details EXACTLY in this format:\nBrand : [Make]\nModel : [Model]\nPrice : ₹[Price]\nColor : [Color]\nYear : [Year]\nKM : [KM]\nThen, politely provide the direct website link to view photos: https://most-affordable.vercel.app/bike/[THE_BIKE_ID].\n\nIf Database Result is empty or the bike is SOLD:\nApologize politely, explain it is not available, and invite them to browse vehicles on https://most-affordable.vercel.app/.\n======\nDatabase Search Result: {{ JSON.stringify($json) }}"
      },
      "id": "llm-2",
      "name": "Format DB Result",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [ 1200, 200 ]
    },
    {
      "parameters": {
        "jsCode": "return { output: $input.item.json.text || 'Processing Error: AI did not return text.' };"
      },
      "id": "format-ui-db",
      "name": "Format DB Output UI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1400, 200 ]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "requests",
        "columns": "message",
        "message": "={{ $('Parse JSON Output').item.json.action_param }}"
      },
      "id": "supabase-insert",
      "name": "Supabase Insert Request",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 1200, 400 ],
      "credentials": {
        "supabaseApi": {
          "id": "vNTP1XgP3wsW0tiM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { output: $('Parse JSON Output').item.json.reply_to_user || 'Your request has been successfully saved!' };"
      },
      "id": "format-ui-save",
      "name": "Format Save Output UI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1400, 400 ]
    },
    {
      "parameters": {
        "jsCode": "return { output: $('Parse JSON Output').item.json.reply_to_user || 'Something went wrong.' };"
      },
      "id": "format-ui-none",
      "name": "Format Normal Output UI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1200, 600 ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Conversational Logic LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Conversational Logic LLM",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Conversational Logic LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini (Format DB)": {
      "ai_languageModel": [
        [
          {
            "node": "Format DB Result",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversational Logic LLM": {
      "main": [
        [
          {
            "node": "Parse JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output": {
      "main": [
        [
          {
            "node": "If Search DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Search DB": {
      "main": [
        [
          {
            "node": "Supabase Fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Save Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Save Request": {
      "main": [
        [
          {
            "node": "Supabase Insert Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Normal Output UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Fetch": {
      "main": [
        [
          {
            "node": "Format DB Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB Result": {
      "main": [
        [
          {
            "node": "Format DB Output UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert Request": {
      "main": [
        [
          {
            "node": "Format Save Output UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}