Instagram Automation.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SENDER_ID": "={{ $('Webhook1').item.json.body.entry[0].messaging[0].sender.id }}",
            "PAGE_ID": "={{ $('Webhook1').item.json.body.entry[0].messaging[0].recipient.id }}",
            "TIMESTAMP": "={{ $now.toISO() }}",
            "FOLLOW_UP_SENT": "false"
          },
          "matchingColumns": [
            "SENDER_ID"
          ],
          "schema": [
            {
              "id": "SENDER_ID",
              "displayName": "SENDER_ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PAGE_ID",
              "displayName": "PAGE_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "FOLLOW_UP_SENT",
              "displayName": "FOLLOW_UP_SENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2880,
        944
      ],
      "id": "91eda18c-c2ec-4b65-801a-0cfc62dc2420",
      "name": "Log to PendingFollowUps",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SENDER_ID": "={{ $json['SESSION ID'] }}",
            "CONVERTED": "true"
          },
          "matchingColumns": [
            "SENDER_ID"
          ],
          "schema": [
            {
              "id": "SENDER_ID",
              "displayName": "SENDER_ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONVERTED",
              "displayName": "CONVERTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        752
      ],
      "id": "fbf7cb6e-3f32-4b5f-a1be-c393fdc08f8a",
      "name": "Mark CONVERTED",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "c62c59d4-5f54-4d92-a587-bbc794113da2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1376,
        592
      ],
      "id": "7fd75c0f-ef61-428a-a6c1-8c60a4faade7",
      "name": "Webhook1",
      "webhookId": "c62c59d4-5f54-4d92-a587-bbc794113da2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.aiInput}}",
        "options": {
          "systemMessage": "=Your Name is Maya the Instagram DM assistant for Automa Ponix(AI automation agency).\n\nTool:\nKnowledge tool (official info only).\n\nSESSION ID = {{ $('Webhook1').item.json.body.entry[0].messaging[0].sender.id }}\n\nStyle: (must follow this)\nVery short. 1–2 lines. Spaced. clean.\nNo fluff. No markdown and asterisk. No bolding. use list when needed. Max one emoji.\n\nRules:\nAnswer questions first.\nDo not invent info.\nIf asked about the agency use tool.\nUse tool only when needed.\nOne simple question at a time.\nClose within 5 messages. Thank politely.\n\nSession:\nIf contact already collected for this SESSION ID, never ask again.\nAsk contact only once, after clear intent, never before message 4.\n\nLead Flow:\n\nIf user wants to proceed, ask:\n“Would you like our team to reach out?”\n\nIf yes, send:\n\nPlease share:\n\nName\nEmail\nPhone\nRequirement\n\nUsers may reply in any format.\nThey may not include labels.\n\nYou must intelligently extract:\n\n• First valid email → EMAIL\n• First valid phone number → PHONE\n• First non-email text line → NAME\n• Remaining text → REQUIRMENT\n\nIf something is missing, ask only for the missing field.\n\nThen show summary (not JSON):\n\nName:\nEmail:\nPhone:\nRequirement:\n\nAsk: “Is this correct?”\n\nAfter confirmation, reply ONLY with raw JSON:\n\n{\n\"store_lead\": true,\n\"NAME\": \"\",\n\"EMAIL\": \"\",\n\"PHONE\": \"\",\n\"REQUIRMENT\": \"\",\n\"SESSION_ID\": \"{{ $('Webhook1').item.json.body.entry[0].messaging[0].sender.id }}\"\n}\n\nNever output JSON otherwise.\nReturn raw JSON object only\n\nNever output JSON otherwise.\n\nPricing:\nNever mention numbers. Say it depends on needs.\n\nTone:\nWarm. Minimal. Confident. Friendly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2048,
        832
      ],
      "id": "858c4e7a-3cfa-4815-93da-191575f6a77a",
      "name": "AI Agent2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('Webhook1').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n messaging_type: \"RESPONSE\",\n recipient: {\nid: $('Webhook1').item.json.body.entry[0].messaging[0].sender.id\n },\nmessage: {\ntext: $json.output\n}\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2720,
        944
      ],
      "id": "83c7891e-2a70-4f58-b8e7-c89488452c60",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1776,
        432
      ],
      "id": "c0fda8da-faeb-4963-a7d5-2820ec16d486",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "736e4e9e-ce9e-473d-b971-d2394ec802cb",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d63f12e5-4bec-46c2-a8cd-d6755551b702",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "automaponix",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        448
      ],
      "id": "cd193928-1bde-413d-8818-7317767ee8f8",
      "name": "If2"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{\n  $json.body.entry?.[0]?.changes?.[0]?.field === \"comments\"\n    ? 0\n    : (\n        $json.body.entry?.[0]?.messaging?.[0]?.message?.text &&\n        !$json.body.entry?.[0]?.messaging?.[0]?.message?.is_echo\n      )\n      ? 1\n      : 2\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1568,
        688
      ],
      "id": "739bcf09-a1ab-4c71-9f46-984d11f39010",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.aiInput}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2048,
        560
      ],
      "id": "68d09415-ec19-4470-845b-25a5a4aebd67",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.from.id }}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2336,
        560
      ],
      "id": "7a58fa04-08cb-4e4b-9b6a-74cd57c9f63a",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  type: \"COMMENT\",\n  aiInput: $json.body.entry[0].changes[0].value.text,\n  commentId: $json.body.entry[0].changes[0].value.id\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        560
      ],
      "id": "471655e2-7f62-48ea-8e7e-81f52e9481ee",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"type\": \"DM\",\n  \"aiInput\": \"{{$json.body.entry[0].messaging[0].message.text}}\",\n  \"senderId\": \"{{$json.body.entry[0].messaging[0].sender.id}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        832
      ],
      "id": "3eef20c4-5542-4cd4-8bef-3ea177c06f35",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "model": "canopylabs/orpheus-v1-english",
        "options": {
          "maxTokensToSample": 200,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1952,
        1040
      ],
      "id": "4cb0d7a4-54da-47dd-8187-40dc9834ec53",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "EFQCmqsVrnw4OqAW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1fk_VwBZPJRAVmJPAs2pQj0ysNaqD5heA",
          "mode": "list",
          "cachedResultName": "Automaponix-Base.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1fk_VwBZPJRAVmJPAs2pQj0ysNaqD5heA/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2096,
        1216
      ],
      "id": "f2966b0a-d99b-4274-bc96-c8d7ea8bf214",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lLm1Mzt83crF4rZe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2240,
        1376
      ],
      "id": "a69d06f7-8c28-4c65-a17c-c20e13c0c67d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "8JwcBNO8t0Rbq5Id",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2352,
        1376
      ],
      "id": "f3198f8c-ba42-4df2-b6bc-dc25c158638c",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2352,
        1504
      ],
      "id": "33ee73d3-7fed-4047-8a35-0bb191065f28",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "automaponix-kb",
          "mode": "list",
          "cachedResultName": "automaponix-kb"
        },
        "embeddingBatchSize": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2240,
        1216
      ],
      "id": "48f39ea6-4aa1-4d96-8432-317aa3ae309b",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "UndLstXHKkF6veLc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve official Automa Ponix company information including services, automation solutions, FAQs, and policies. Use it when replying.",
        "pineconeIndex": {
          "__rl": true,
          "value": "automaponix-kb",
          "mode": "list",
          "cachedResultName": "automaponix-kb"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2240,
        1040
      ],
      "id": "380ba0b5-d1d6-400a-a972-79d5e9e270d7",
      "name": "Pinecone Vector Store3",
      "credentials": {
        "pineconeApi": {
          "id": "UndLstXHKkF6veLc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2144,
        1040
      ],
      "id": "897b7c1c-5b63-4439-96fc-bdaac677a26d",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6859802b-51a7-4e53-941d-87597310590c",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=\"store_lead\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2512,
        832
      ],
      "id": "2d263698-781b-41d3-8908-174eb72f97b7",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae969df-0b77-48aa-ac17-e79d45c686c9",
              "name": "NAME",
              "value": "={{ JSON.parse($json.output).NAME }}",
              "type": "string"
            },
            {
              "id": "dd9a822a-67d8-4f1b-ab30-858bfd9128ff",
              "name": "EMAIL",
              "value": "={{ JSON.parse($json.output).EMAIL }}",
              "type": "string"
            },
            {
              "id": "f0c802c4-32ef-4ab5-bcc9-92c4a13aa2c7",
              "name": "PHONE",
              "value": "={{ JSON.parse($json.output).PHONE }}",
              "type": "string"
            },
            {
              "id": "08960112-a04f-40da-9d68-1fa62856dc74",
              "name": "REQUIREMENT",
              "value": "={{ JSON.parse($json.output).REQUIRMENT }}",
              "type": "string"
            },
            {
              "id": "46689995-72fe-46af-9f58-77cac344a3c9",
              "name": "SESSION ID",
              "value": "={{ JSON.parse($json.output).SESSION_ID }}",
              "type": "string"
            },
            {
              "id": "f04cb4e4-4369-4bcb-9954-0d54647dce56",
              "name": "DATE",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        752
      ],
      "id": "ec6b7b9a-9054-4db6-af43-d53803ef8585",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $('Webhook1').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n messaging_type: \"RESPONSE\",\n recipient: {\nid: $('Webhook1').item.json.body.entry[0].messaging[0].sender.id\n },\nmessage: {\ntext: $json.confirmationMessage\n}\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3392,
        752
      ],
      "id": "defc8416-3dc3-448f-9dfa-c8accb05f379",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fce76151-9ba1-4c3c-ae90-8a84484ff6d0",
              "name": "confirmationMessage",
              "value": "Perfect. Our team will reach out shortly. Thank you.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        752
      ],
      "id": "27fc994b-bf09-4698-8d31-42f92fcde845",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.NAME }}",
            "DATE": "={{ $json.DATE }}",
            "PHONE": "={{ $json.PHONE }}",
            "REQUIRMENT": "={{ $json.REQUIREMENT }}",
            "EMAIL": "={{ $json.EMAIL }}",
            "SESSION ID": "={{ $json[\"SESSION ID\"] }}"
          },
          "matchingColumns": [
            "SESSION ID"
          ],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PHONE",
              "displayName": "PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REQUIRMENT",
              "displayName": "REQUIRMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SESSION ID",
              "displayName": "SESSION ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2896,
        752
      ],
      "id": "ce1e99e7-b198-4dd5-a0df-13d3dc6b5778",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-3b-latest",
        "options": {
          "maxTokens": 200,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2048,
        1040
      ],
      "id": "ece29dc5-7567-43e4-9c5c-10336ab9d467",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "JIyXgNNVOA27Zc0k",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2560,
        560
      ],
      "name": "Every 30 Minutes1",
      "id": "5594c574-438b-49bc-b622-ceb83a951339"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2800,
        560
      ],
      "name": "Get Pending Leads1",
      "id": "ef5b7f23-27c7-4e55-ba8b-4e5101014fa7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fourHoursAgo = new Date(Date.now() - 4 * 60 * 60 * 1000);\n\nconst filteredItems = items.filter((item) => {\n  const timestamp = new Date(item.json.TIMESTAMP);\n  const followUpSent = item.json.FOLLOW_UP_SENT;\n  const converted = item.json.CONVERTED;\n\n  const followUpSentBool = String(followUpSent).toLowerCase() === \"true\";\n  const convertedBool = String(converted).toLowerCase() === \"true\";\n\n  return (\n    !isNaN(timestamp.getTime()) &&\n    timestamp <= fourHoursAgo &&\n    !followUpSentBool &&\n    !convertedBool\n  );\n});\n\nreturn filteredItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        560
      ],
      "name": "Filter 4hr+ No Conversion1",
      "id": "21f99437-b77b-4626-87c2-5d4d260ea52c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "3e2d61a5-a75e-4142-808e-3e08c9e57227"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3280,
        560
      ],
      "name": "Any Due Follow-ups?1",
      "id": "b2fd753e-426f-463c-bd4b-aa4bf236240e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v25.0/{{ $json.PAGE_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAcUbxmsrrZABZAGJRZAUwwX3hUX1FINlloT1RUT1AwYWNtYkNFOVdpT2ZAndFJfdThfLWlOdWxxM21tOXFhRzc2bkZAzNDFfYXFpNTZAfYjN6aFNxUjZAvSkVyZAWpwOHM4a25JZAzNGZA1pjU3RqWEJhZAnBLaVBaM093Sy1KNDlHSWRrWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  messaging_type: \"RESPONSE\",\n  recipient: { id: $json.SENDER_ID },\n  message: {\n    text: \"Hey! Just checking in 👋\\n\\nWe noticed you were curious about what Automa Ponix can do for your business.\\n\\nIf you'd like our team to reach out and show you exactly how AI automation can help — just drop your name, email and number here.\\n\\nWe'd love to connect!\"\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3520,
        560
      ],
      "name": "Send Follow-up DM1",
      "id": "507e58be-390d-4160-ae83-4d8793ec1a2f"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0",
          "mode": "list",
          "cachedResultName": "Automaponix-Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414723004,
          "mode": "list",
          "cachedResultName": "PendingFollowUps ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uw8HiXeJBalLRwpkfKeaizAo6kTwem45Cqqf5yBe0n0/edit#gid=414723004"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FOLLOW_UP_TIME": "={{ $now.toISO() }}",
            "FOLLOW_UP_SENT": "={{true}}",
            "SENDER_ID": "={{ $('Get Pending Leads1').item.json.SENDER_ID }}"
          },
          "matchingColumns": [
            "SENDER_ID"
          ],
          "schema": [
            {
              "id": "SENDER_ID",
              "displayName": "SENDER_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PAGE_ID",
              "displayName": "PAGE_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TIMESTAMP",
              "displayName": "TIMESTAMP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FOLLOW_UP_SENT",
              "displayName": "FOLLOW_UP_SENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FOLLOW_UP_TIME",
              "displayName": "FOLLOW_UP_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONVERTED",
              "displayName": "CONVERTED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3760,
        560
      ],
      "name": "Mark Follow-up Sent1",
      "id": "55200102-5dd1-4bd7-b90c-78afb8dd46fd",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dvuvMpwQe7b0sGm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Mark CONVERTED": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Log to PendingFollowUps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Mark CONVERTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Every 30 Minutes1": {
      "main": [
        [
          {
            "node": "Get Pending Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Leads1": {
      "main": [
        [
          {
            "node": "Filter 4hr+ No Conversion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 4hr+ No Conversion1": {
      "main": [
        [
          {
            "node": "Any Due Follow-ups?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Due Follow-ups?1": {
      "main": [
        [
          {
            "node": "Send Follow-up DM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up DM1": {
      "main": [
        [
          {
            "node": "Mark Follow-up Sent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "812e57160b6cfa0488283afdc6a904b27f91c8dd7755e053008327f19ff2ef3d"
  }
}